/* Links and underline handling */
body:not(.links-int-on) {
    --link-decoration: none;
  }
  
  body:not(.links-ext-on) {
    --link-external-decoration: none;
  }
  
  /* Styling for Dataview plugin tables in dark theme */
  table {
      width: 100%; /* Make tables full width */
      border-collapse: collapse;
      table-layout: fixed; /* Fixed layout for consistent column sizes */
      background-color: #1e1e1e; /* Obsidian dark theme base background */
      color: #c0c0c0; /* Subtle light text */
  }
  
  table tr:nth-child(odd) {
      background-color: #262626; /* Slightly lighter dark for odd rows */
  }
  
  table tr:nth-child(even) {
      background-color: #1e1e1e; /* Base dark theme for even rows */
  }
  
  table th {
      background-color: #333333; /* Dark gray for the header */
      color: #ffffff; /* White text for header */
      font-weight: bold;
      border-bottom: 1px solid #444444; /* Subtle border for header separation */
  }
  
  table td, table th {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #444444; /* Subtle border for row separation */
      word-wrap: break-word; /* Prevent content overflow */
  }
  
  /* Hover effect that overrides alternating row styles */
  table tr:hover td {
      background-color: #444444 !important; /* Highlight on hover for rows */
      color: #ffffff; /* Ensure text is legible on hover */
  }
  
  .pdf-embed, .markdown-source-view .pdf-embed, 
  .markdown-source-view.mod-cm6 .cm-content > .pdf-embed, .internal-embed.pdf-embed:not(.image-embed) {
      max-width: 900px;
  }
  
  /* Change Summary Callout background color */
  .callout[data-callout="summary"] {
      background-color: rgb(40, 40, 40);
  }
  
/* Prevent auto-scroll to embedded PDFs without disabling interaction */
.internal-embed.pdf-embed {
    outline: none; /* Remove any focus outline */
  }
  
  .internal-embed.pdf-embed:focus {
    outline: none; /* Prevent browser focus styling */
  }
  
  /* Disable focusable behavior while keeping interaction */
  .internal-embed.pdf-embed iframe,
  .internal-embed.pdf-embed object {
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
  }

  .responsive-video {
    position: relative;
    width: 100%;
    max-width: 900px; /* Set maximum width for the video */
    aspect-ratio: 16 / 9; /* Maintain 16:9 aspect ratio */
    overflow: hidden;
  }
  
  .responsive-video iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }

  @media (max-width: 768px) { /* Adjust width as needed */
    table th:nth-child(3),
    table td:nth-child(3),
    table th:nth-child(4),
    table td:nth-child(4) {
        display: none;
    }

    
}